html {
    background-color: #E9E4EA;
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  

header{
    height: auto;
    background: rgba(0, 0, 0, 0.179);
    border-bottom: 7px solid #223542;
}

.header{
    margin: 0;
}

.logoSGSPU {
    /* margin-top: 8px;
    margin-bottom: 8px; */
    width: auto;
    height: 75px;
}

nav a {
    color: #223542;
    font-weight: 600;
    border-right: 2px solid #223542;
}

.one{
    color: #223542;
    font-weight: 600;
    border-left: 2px solid #223542;
}

.btn-reg{
    background-color:#22354200;
    border-radius: 15px;
    border: 3px solid #223542;
    width: 100pt;
    height: 50%;
    color: #223542;
    font-weight: 600;
}

.btn-login{
    background-color:#22354200;
    border-radius: 15px;
    border: 3px solid #223542;
    width: 100pt;
    height: 50%;
    color: #223542;
    font-weight: 600;
}

.btn-reg:hover{
    background-color:#223542;
    border: 3px solid #223542;
    border-radius: 15px;
    /* width: 40%;
    height: 50%; */
    color: #E9E4EA;
    font-weight: 600;
}

.btn-login:hover{
    background-color:#223542;
    border-radius: 15px;
    border: 3px solid #223542;
    /* width: 40%;
    height: 50%; */
    color: #E9E4EA;
    font-weight: 600;
}

main {
    flex-grow:1;
    background-image:url(../img/fon.png);
    padding-bottom: 30px;
}


.title-archiv h1 {
    padding-top: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    color: #1A2F3E;
    text-align: center;
}

.digitalСollage, .digitalPainting, .digitalIdea, .digitalInfo{
    margin-top: 10px;
    text-align: center;
}

h4{
    margin-top: 20px;
    text-decoration: underline;
}

.topTwo{
    margin-top: 10px;
}

.topThree{
    margin-top: 10px; 
}

.gallery{
    margin-top: 5px;
}

 .gallery img{
    margin: 10px;
    box-shadow: 0px 15px 25px rgb(73, 73, 73);
}

a.photo:hover img{
	border:5px solid #ffffff;
}
footer{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.68)), url(../img/footer_mini.png);
}

.logo-textFooter{
    display: flex;
}

.logo-textFooter a{
    margin-left: 5%;
    margin-top: 8%;
    color:#E9E4EA;
}

.logoSGSPU_footer {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 30%;
}

.img {
    align-items: center;
}

footer p {
    color:#E9E4EA;
}

footer b{
    color:#E9E4EA;
}